:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primare-bg-color: #ffffff;
	--hero-bg-color: #2f303a;
	--secondary-bg-color: #f5f4fa;
	--secondary-accent-color: #000000;
}

.page {
	font-family: "Roboto", sans-serif;
	color: var(--primary-text-color);
	background-color: var(--primare-bg-color);
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.link {
	text-decoration: none;
}

.container {
	margin-left: auto;
	margin-right: auto;

	width: 1200px;
	padding: 0px 15px;

	/* outline: 2px solid tomato; */
}

/* styles logo */

.logo {
	display: flex;
	padding: 32px 0px;

	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--accent-color);
}

.logo-header {
	color: var(--secondary-accent-color);
}

.logo-footer {
	color: var(--primare-bg-color);
}

/* site-nav */

.main-nav {
	display: flex;
	align-items: center;
}

.site-nav {
	display: flex;
	margin-left: 93px;
}

.auth-nav {
	display: flex;
	margin-left: 331px;
}

/* .site-nav-item,
.auth-nav-item,
.logo {
	outline: solid tomato;
} */

/* .site-nav-item:not(:last-child) {
	margin-right: 50px;
} */
.site-nav .site-nav-item + .site-nav-item {
	margin-left: 40px;
}

.nav-link {
	display: block;
	padding: 32px 0px;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
}

.auth-nav-link {
	display: block;
	padding: 32px 0px;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
}
/* .auth-nav-item:not(:last-child) {
	margin-right: 50px;
	margin-left: 331px;
} */
.auth-nav .auth-nav-item + .auth-nav-item {
	margin-left: 50px;
}

.site-nav .current {
	color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus,
.auth-nav-link:hover,
.auth-nav-link:focus,
.footer-nav .link:hover,
.footer-nav .link:hover {
	color: var(--accent-color);
}

/* Styles index.html */

/* Hero */
.hero {
	background-color: var(--hero-bg-color);
	text-align: center;
}
.hero-title {
	margin-top: 0px;
	margin-bottom: 30px;
	text-align: center;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.37;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--primare-bg-color);
}

/* Section styles */

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section-title {
	margin-top: 0px;
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
}

.text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

/* Feature styles */
.feature-list {
	display: flex;
}
.feature-list-item {
	width: 270px;
}

.feature-title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--title-text-color);
}

/* Our work styles */
.work-list {
	display: flex;
}
.work-list .work-flex + .work-flex {
	margin-left: 30px;
}

/* Team styles */

.team {
	background-color: var(--secondary-bg-color);
}

.team-list {
	display: flex;
}

.team-bg {
	width: 270px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	background-color: var(--primare-bg-color);
}
.team-list .team-bg + .team-bg {
	margin-left: 30px;
}

.team-img {
	margin-top: 0;

	margin-bottom: 30px;
}

.team-title {
	margin-top: 0;
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--title-text-color);
}
.team-text {
	margin-top: 0;
	margin-bottom: 0px;
	padding-bottom: 30px;

	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}

/* Button styles */
.hero-buttom {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;

	letter-spacing: 0.06em;
	color: var(--primare-bg-color);
	background-color: var(--accent-color);

	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	padding: 10px 32px;
	min-width: 200px;
	border: transparent;
	text-align: center;
	cursor: pointer;
}
.hero-buttom:hover {
	background-color: #188ce8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.filter-nav {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.filter-nav .filter-flex + .filter-flex {
	margin-left: 8px;
}
.button {
	display: block;
	padding: 6px 22px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	background-color: var(--secondary-bg-color);

	border-radius: 4px;

	border: transparent;

	text-align: center;
	cursor: pointer;
}

.button:hover,
.button:focus {
	color: var(--primare-bg-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Styles portfolio.html */
.portfolio {
	display: flex;
	flex-wrap: wrap;
}
.portfolio-flex {
	width: 370px;
	margin-right: 30px;
}

.portfolio-title {
	margin-top: 0;
	margin-bottom: 4px;

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--title-text-color);
}

.portfolio-text {
	margin-top: 0;
	margin-bottom: 0;

	padding-bottom: 20px;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
}

/* Styles footer */

.logo-down {
	padding-top: 60px;
	margin-bottom: 20px;
}

.logo-footer {
	color: var(--primare-bg-color);
}

.footer {
	background-color: var(--hero-bg-color);
	padding-bottom: 60px;
}

.footer-nav {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.footer-nav-address {
	color: var(--primare-bg-color);
	margin-bottom: 9px;
}

.footer-nav-phone,
.footer-nav-mail {
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 9px;
}

.footer-nav-phone {
	margin-bottom: 0px;
}
